*build
*_grt_rtw
*slprj
*.ext
*.slxc
*.vscode/*
*.pb.h
*.pb.cc
*mdl_test*
*.exe
*tmp*
*.dll
#*.json
*.bak
.idea
__pycache__
txSim
*html*
deps/*
vehicle_dynamics*
tx_simvehicle
tx_simvehicle.tar.gz
param/txcar.lic
eigen3
#*.par
mdl/libtx_car/TxCar_grt_rtw/*.h
mdl/chassis/*.h
mdl/driveline/*.h
mdl/hcu/*.h
mdl/power/*.h

!mdl/libtx_car/TxCar_grt_rtw/*_wrapper.h
!mdl/libtx_car/TxCar_grt_rtw/TxCar*.h
!txcar.json
!txcar_template.json
!txcar_template_hybrid.json
!txcar_ICE.json
!txcar_EV.json
!txcar_Hybrid.json
!mdl/libtx_car/TxCar_grt_rtw
!sim_pack/terrain/*.dll
!sim_pack/terrain/*.lib
!mdl/libtx_car/TxCar_Hybrid_grt_rtw
!mdl/libtx_car/TxCar_EV_grt_rtw
!mdl/libtx_car/TxCar_ICE_grt_rtw
.codecc
.vscode
