dynaconf==3.2.6
ephem==4.1.6
loguru==0.7.3
numpy==2.2.0
openpyxl==3.1.5
pandas==2.2.3
pyarrow==18.1.0
requests==2.32.3
scenariogeneration==0.14.9
scikit_learn==1.6.0
grpcio-tools==1.68.1
mypy==1.13.0
pre-commit==4.0.1
pretty-errors==1.2.25
pyinstrument==5.0.0
pytest==8.2.1
pytest-html==4.1.1
pytest-xdist==3.6.1
# ruff==0.5.7
xmlschema==3.4.3
pybind11==2.13.6
