.git
.vscode
build
deps/OpenDriveIO
deps/sim_msg
deps/SimMapSDK
third_party/awswin
third_party/jsoncpp
third_party/libxml2
third_party/opensslwin
third_party/tinyxml/tinyxml/*
!third_party/tinyxml/tinyxml/*.h
!third_party/tinyxml/tinyxml/*.c*
!third_party/tinyxml/tinyxml/*.inl
third_party/glm
third_party/soci
third_party/log4cpp
libscene_wrapper.so
libopendriveio_shared.so
libopendriveio.so
libsimmapsdk.so
libxml2.so*

*.json
hdserver/cloud/src/service/service
hdserver/cloud/hdserver/test/data/*
hdserver/cloud/resources/scenario/hadmap/*
hdserver/cloud/resources/scenario/scene/*
hdserver/cloud/resources/scenario/Catalogs/*

map_parser/test/data/*

**/resources/hdserver_deploy
txSimService

!hdserver/cloud/resources/scenario/scene/PED_tpl*
!hdserver/cloud/resources/scenario/hadmap/PED_tpl*
!hdserver/cloud/resources/scenario/hadmap/navMesh.bin
