.vscode
build
deps/OpenDriveIO
deps/sim_msg
deps/SimMapSDK
third_party/asam/*.[h|c]xx
third_party/eigen
third_party/jsoncpp
third_party/tinyxml/tinyxml/*
!third_party/tinyxml/tinyxml/*.h
!third_party/tinyxml/tinyxml/*.c*
!third_party/tinyxml/tinyxml/*.inl
third_party/glm
third_party/libxml2
libscene_wrapper.so
libopendriveio_shared.so
libopendriveio.so
libsimmapsdk.so
libxml2.so*
!third_party/lib/*.lib
*.json
*.xodr
*.sqlite

**/test/data/*
**/resources/scenario/hadmap/*
**/resources/scenario/scene/*
**/resources/scenario/Catalogs/*
**/resources/hdserver_deploy
**/src/service/service
txSimService

!hdserver/cloud/resources/scenario/scene/PED_tpl*
!hdserver/cloud/resources/scenario/hadmap/PED_tpl*
.codecc
.idea