
lib
.vs
hadmap
datamodel/build
map_engine/build
map_import/build
mapdb/build
route_plan/build
routingmap/build
transmission/build
*.so
*.gz
*.dll
*.exp
*.ilk
*.lib
*.pdb
CMakeSettings.json
out/

build
deps
devel
dll
lib
include
.codecc
.idea
.vscode