{
  "configs": [{
    "name": "Traffic",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 60000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "",
    "binPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimTraffic\\x64\\Release\\txSimTraffic.exe",
    "binArgs": [ "--app_name", "Traffic", "--ip_addr_port", "" ],
    "category": 1
  },{
    "name": "Billboard",
    "execPeriod": 1000,
    "responseTime": 1000,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 60000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "",
    "binPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimTraffic\\x64\\Release\\tx_billboard.exe",
    "binArgs": [ "--billboard_app_name", "Billboard", "--ip_addr_port", "" ],
    "category": 1
  },{
    "name": "lane_marks",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {
      "forwardLength": 200,
      "sampleInterval": 1,
      "laneDetectingCount": 2
    },
    "cmdTimeout": 10000,
    "stepTimeout": 5000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\sensor_truth\\txSimLaneMarkDetector.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },{
    "name": "Planning",
    "execPeriod": 100,
    "responseTime": 80,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\planning\\sim_planning.dll",
    "binPath": "",
    "binArgs": [],
    "category": 106
  },{
    "name": "Controller",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {"configFile":"C:\\Program Files\\tadsim\\resources\\app\\service\\controller\\ControlConfig_gw.cfg"},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\controller\\controller_sim.dll",
    "binPath": "",
    "binArgs": [],
    "category": 106
  },
  {
    "name": "tx_simvehicle",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "LicFile":"C:\\Program Files\\tadsim\\resources\\app\\service\\tx_simvehicle\\txcar.lic",
      "ParaFile":"C:\\Program Files\\tadsim\\resources\\app\\service\\tx_simvehicle\\txcar.json",
      "enableTerrain": 1,
      "useCatalog": 0
    },
    "cmdTimeout": 60000,
    "stepTimeout": 60000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\tx_simvehicle\\tx_simvehicle.dll",
    "binPath": "",
    "binArgs": [],
    "category": 105
  },
  {
    "name": "carsim_interface",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "sim-file": "C:\\CarSim\\CarSim_Version_Data\\simfile.sim"
    },
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\carsim_interface.dll",
    "binPath": "",
    "binArgs": [],
    "category": 105
  },{
    "name": "Protobuf_Logger",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "log-folder": "C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\data\\service_data\\sim_data\\pblog",
      "channels": "CONTROL||LOCATION||TRAJECTORY||VEHICLE_STATE||TRAFFIC",
      "post-script": "dir"
    },
    "cmdTimeout": 3000,
    "stepTimeout": 3000,
    "autoLaunch": true,
    "depPaths": [ "C:\\Program Files\\tadsim\\resources\\app\\service\\simdeps" ],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimLogger.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1001
  },{
    "name": "Protobuf_Log_Player",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "log-file": "C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\data\\service_data\\sim_data\\pblog\\some_xxx.pblog",
      "channels": "CONTROL||LOCATION||TRAJECTORY||VEHICLE_STATE||TRAFFIC"
    },
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimLogplayer.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1001
  },{
    "name": "Perfect_Planning",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 60000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimTraffic\\x64\\Release\\tx_perfect_planning.dll",
    "binPath": "",
    "binArgs": [],
    "category": 106
  },{
    "name": "Dummy_Driver",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "cmdTimeout": 60000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "initArgs": {"ego_use_trajectory_follow":"true"},
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimTraffic\\x64\\Release\\tx_perfect_planning.dll",
    "binPath": "",
    "binArgs": [],
    "category": 103
  },{
    "name": "Perfect_Control",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": { "option": "global", "stepTime": 20 },
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimTraffic\\x64\\Release\\txSimPerfectControl.dll",
    "binPath": "",
    "binArgs": [],
    "category": 103
  },{
    "name": "Display",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 60000,
    "stepTimeout": 60000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "",
    "binPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\Display\\Display.exe",
    "binArgs": [ "UserDir=C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\data\\service_data\\display" ],
    "category": 1001
  },{
    "name": "Sensor_Truth",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\sensor_truth\\txsimSensorTruth.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },
  {
    "name": "imu_gps",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\imu_gps.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },{
    "name": "AD_Arbitrary",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\sim_arbitrary.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },{
    "name": "tx_AEB",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\tx_AEB.dll",
    "binPath": "",
    "binArgs": [],
    "category": 104
  },{
    "name": "V2X_Traffic_Filter",
    "execPeriod": 20,
    "responseTime": 20,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 30000,
    "stepTimeout": 3000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\sensor_truth\\txsimV2XFilter.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },{
    "name": "radar",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "NOZ":1
    },
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\radar\\txsim_radar.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  },{
    "name": "mil",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "pub-topics":"CONTROL",
      "sub-topics":"LOCATION||VEHICLE_STATE||TXSIM_SENSOR_DATA||LOCAL_LOCATION||TXSIM_DETECTED_LINES",
      "xil-cfg":"C:\\Program Files\\tadsim\\resources\\app\\service\\mil\\mil_cfg.json"
    },
    "cmdTimeout": 30000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\mil\\matlab_interface.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1001
  },{
    "name": "hil_client",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "LicFile": "C:\\Program Files\\tadsim\\resources\\app\\service\\vehicle_dynamics\\EchoSim_TENCENT_LX.lic",
      "ParaFile": "C:\\Program Files\\tadsim\\resources\\app\\service\\vehicle_dynamics\\Run_Tencent_20191028_EngineMap_GearShift.PAR",
      "XILCfg": "C:\\Program Files\\tadsim\\resources\\app\\service\\hil_client\\hil_cfg.json",
      "runType": "L4",
      "enableTerrain": 1,
      "SubTopics":"TRAFFIC||OSI_RADAR",
      "PubTopics":"LOCATION||LOCATION_TRAILER||CONTROL||VEHICLE_STATE",
      "stepTime": 10
    },
    "cmdTimeout": 60000,
    "stepTimeout": 60000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\hil_client\\xil_client.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1001
  },{
    "name": "Grading",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "log-folder": "C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\data\\service_data\\sim_data\\pblog",
      "enableGrading": "1",
      "enablePBLogger": "1",
      "channels": "CONTROL||LOCATION||TRAJECTORY||VEHICLE_STATE||TRAFFIC||GRADING||ENVIRONMENTAL",
      "post-script": "C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\data\\service_data\\..\\..\\sys\\service_data\\script\\post_process"
    },
    "cmdTimeout": 60000,
    "stepTimeout": 60000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimGrading\\txSimGrading.dll",
    "binPath": "",
    "binArgs": [],
    "category": 51
  },{
    "name": "OSI_Adaptor",
    "execPeriod": 10,
    "responseTime": 10,
    "endpoint": "",
    "initArgs": {
      "enableAdaptor":"1",
      "channels": "TXSIM_DETECTED_LINES||ENVIRONMENTAL||TRAFFIC"
    },
    "cmdTimeout": 60000,
    "stepTimeout": 60000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txSimOSIAdaptor\\txSimOSIAdaptor.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1001
  }],
  "scheme": {
    "active": 1,
    "schemes": [{
      "id": 1,
      "name": "Custom",
      "modules": [ {"name": "Traffic", "priority": 50}, {"name": "Perfect_Planning", "priority": 50}, {"name": "Perfect_Control", "priority": 50}, {"name": "Grading", "priority": 50}]
    },{
      "id": 0,
      "name": "L4_Planning",
      "modules": [ {"name": "Traffic", "priority": 50}, {"name": "Perfect_Planning", "priority": 50}, {"name": "Perfect_Control", "priority": 50}, {"name": "Grading", "priority": 50}]
    },
    {
      "id": -1,
      "name": "L4_PnC",
      "modules": [ {"name": "Traffic", "priority": 50}, {"name": "Planning", "priority": 50}, {"name": "Controller", "priority": 50}, {"name": "tx_simvehicle", "priority": 50}, {"name": "Grading", "priority": 50}]
    }]
  },
  "moduleLauncherPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\txsim-module-launcher.exe",
  "moduleLogDirectory": "C:\\Users\\fangccheng\\AppData\\Roaming\\tadsim\\log\\user_log",
  "playControlRate": 100,
  "scenarioTimeLimit": 0,
  "coordinationMode": 1,
  "autoReset": true,
  "log2world": {
    "logsimConfig": {
    },
    "worldsimConfig": {
    }
  },
  "gradingKpiDirectory": ".\\scenario\\scene",
  "addingInitialLocationMsg": true,
  "defaultLaunch": [
  {
    "name": "Enviroment",
    "execPeriod": 1000,
    "responseTime": 1000,
    "endpoint": "",
    "initArgs": {},
    "cmdTimeout": 60000,
    "stepTimeout": 30000,
    "autoLaunch": true,
    "depPaths": [],
    "soPath": "C:\\Program Files\\tadsim\\resources\\app\\service\\envpb.dll",
    "binPath": "",
    "binArgs": [],
    "category": 1
  }]
}
